body{
	padding: 1px;
}
.col-md-2 img{
	height: 72px;

}
.jumbotron{
	padding: 1%;
	background-color: #fff;
	border-bottom:solid 1px #ddd;
	margin-bottom: 10px;
}
.row{
	padding:1%;
	padding-top: 7px;
	padding-bottom: 0px;
}
.col-md-2{
	text-align: center;
	padding-bottom: 0px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-top:1px solid #ddd;
	margin-bottom: 4px;
}
h5{
	color: red;
}
h1, h2, h3, h4, h5, h6 {

	display: inline;
	
}

.row{
	margin-bottom: 5px;
}

h2,h3,h3,h4,h5,h6{
	font-family: "Times New Roman";
}

.page-header{
	background-color: #ff6868;
	color: white;

}
.page-header small{
	color: white;
}
.page-header{
	margin:2px 0 2px 0;
}
.shop-list{
	overflow-y:auto;
	overflow-x:hidden;
	height:85%; 
}
