<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">


<!--  <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" 
destroy-method="close">

	<property name="hibernate.bytecode.use_reflection_optimizer" value="false" />
	<property name="driverClass" value="org.postgresql.Driver" />
	<property name="password" value="taoxiaoqing" />
	<property name="jdbcUrl" value="jdbc:postgresql://localhost:5432/shopping" />	
	<property name="user" value="postgres" />
 	<property name="maxPoolSize" value="40" />
	<property name="minPoolSize" value="1" />
	<property name="initialPoolSize" value="1" />
	<property name="maxIdleTime" value="20" /> 
	
</bean>  -->

<!-- 定义hibernate的sessionFactory -->

<!-- <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">

	<property name="dataSource" ref="dataSource" />
	<property name="mappingResources">
		<list>
			<value>pojo/User.hbm.xml</value>
		</list>
	</property>
	
	<property name="hibernateProperties">
		<props>
			<prop key="hibernate.dialect">
				org.hibernate.spatial.dialect.postgis.PostgisDialect
			</prop>
			<prop key="hibernate.hbm2ddl.auto">update</prop>
			<prop key="hibernate.show_sql">true</prop>
			<prop key="hibernate.format_sql">true</prop>
		</props>
	</property>
	
</bean> -->

<!-- 配置事务处理 -->
<!-- <bean id="transactionManager"
class="org.springframework.orm.hibernate3.HibernateTransactionManager">
<property name="sessionFactory">
	<ref local="sessionFactory"/>
</property>
</bean> -->

<!-- 配置userDao -->
<!-- <bean id="userDao" class="dao.UserDao">
	<property name="sessionFactory">
		<ref local="sessionFactory"/>
	</property>
</bean> -->

<!-- 定义映射 -->
<bean id="testMapping"
	class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
	<property name="mappings">
		<props>
			<prop key="/login.action">LoginAction</prop>
		</props>
	</property>
</bean>

<!-- 定义action -->
<bean id="LoginAction" class="controllerAction.LoginAction">

	<property name="commandClass">
		<value>pojo.User</value> <!-- 表示该跳转的类路径 -->
	</property>
	
	<!-- 指定失败要返回的页面 -->
	<property name="formView">
	<value>app/view/login</value><!-- 表示该调转的页面 -->
	</property>
	
	<!-- 指定返回要成功的页面 -->
	<property name="successView">
		<value>app/view/home</value>  <!--  -->
	</property>
</bean>

<!-- 开始定义视图 -->
<bean id="viewResolver" 
class="org.springframework.web.servlet.view.InternalResourceViewResolver">
<property name="viewClass">
	<value>
		org.springframework.web.servlet.view.InternalResourceView
	</value>
</property>

<!-- jsp都放在/目录下面 -->
<property name="prefix">
	<value>/</value>
</property>
<!--jsp页面的后缀都是jsp  -->
<property name="suffix">
	<value>.jsp</value>
</property>
</bean>
</beans>